.center{
    display:block;
    margin-left: auto;
    margin-right: auto;

}

.center-text{
    text-align: center;
    font-size: 40px;
    border:2px solid black;
    background-color: white;
}

.paragraph-text{
    text-shadow: 2px 2px 4px rgb(148, 89, 89,255);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Adjust image size and number of columns */
    gap: 10px; /* Adjust gap between images */
  }

  .image-grid img {
    width: 100%; /* Ensure images fill the container */
    height: auto; /* Maintain aspect ratio */
  }

  body {
    background-image: url('card_back.png');
    background-repeat: repeat;
    background-size: 100px;
  }